<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include ('../partials/head') %>
        <link rel="stylesheet" href="/css/formularios.css">
      </head>
 
<body>

    
    <%-include ('../partials/header') %>

    <main class="create">


        <div>
        <form class="formulario" action="/producto/"  method="POST" enctype="multipart/form-data">
            <h1 class="products-title">Formulario de creación </h1>
            <input type="text" name="name" placeholder="Nombre del producto" <%= locals.errors && errors.name ? 'is-invalid' : null %>
            value="<%= locals.oldData ? oldData.name : null %>"
        >
        <% if (locals.errors && errors.name) { %>
            <div class="text-danger">
                <%= errors.name.msg %> 
            </div>
        <% } %>
            <input type="text" name="price" placeholder="Precio del producto" <%= locals.errors && errors.price ? 'is-invalid' : null %>
            value="<%= locals.oldData ? oldData.price : null %>"
        >
        <% if (locals.errors && errors.price) { %>
            <div class="text-danger">
                <%= errors.price.msg %> 
            </div>
        <% } %>
        <select name="color_id" id="" required>
            <option value="" disabled selected>- Seleccione el color - </option>
            <% allColor.forEach(color => { %>
            <option value="<%= color.id %>"><%= color.name %></option>
            <% }); %>
        </select>
            <input type="text" name="accessory" placeholder="Accesorios del producto" <%= locals.errors && errors.accessory ? 'is-invalid' : null %>
            value="<%= locals.oldData ? oldData.accessory : null %>"
        >
        <% if (locals.errors && errors.accessory) { %>
            <div class="text-danger">
                <%= errors.accessory.msg %> 
            </div>
        <% } %>
        <select name="brand_id" id="" required>
            <option value="" disabled selected>- Seleccione la marca - </option>
            <% allBrand.forEach(brand => { %>
            <option value="<%= brand.id %>"><%= brand.name %></option>
            <% }); %>
        </select>
            <input type="text" name="model" placeholder="Modelo del producto" <%= locals.errors && errors.model ? 'is-invalid' : null %>
            value="<%= locals.oldData ? oldData.model : null %>"
        >
        <% if (locals.errors && errors.model) { %>
            <div class="text-danger">
                <%= errors.model.msg %> 
            </div>
        <% } %>
            <br>

            <h3>Subi una foto de tu producto</h3>
            <input type="file" id="image" name="image" <%= locals.errors && errors.image ? 'is-invalid' : null %>"
            >
            <% if (locals.errors && errors.image) { %>
                <div class="text-danger">
                    <%= errors.image.msg %>
                </div>
            <% } %>
            <br>


            <div class="category">
                <label for="category" class="form-label-1">Categoría</label>
                <select name="category_id" id="" required>
                    <option value="" disabled selected>- Seleccione una Categoria - </option>
                    <% allCategory.forEach(category => { %>
                    <option value="<%= category.id %>"><%= category.name %></option>
                    <% }); %>
                </select>
            </div>
            <div class="category">
                <label for="description" class="form-label-2">Descipción</label>
                <textarea name="description" id="description" class="form-input" required></textarea>
            </div>
            <div>
                <button class="botonGuardar" type="submit" value="Guardar">Guardar producto</button>
                
            </div>
        </form>
    </div>
    </main>



      <!-- footer -->
      <%-include ('../partials/footer.ejs') %> 
    <!-- footer -->

    
        

</body>
</html>