<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include ('../partials/head') %>
        <link rel="stylesheet" href="/css/formularios.css">
      </head>
 
<body>

    
    <%-include ('../partials/header') %>

    <main class="create">

        

        <div>
        <form class="formulario" action="/producto/editar/<%= productoAEditar.id  %>?_method=PUT" method="POST">
            <h1 class="products-title"> <i><%= productoAEditar.name  %> </i></h1>
            <input type="text" name="name" placeholder="Nombre del producto" value='<%= productoAEditar.name  %>'>
            <input type="text" name="price" placeholder="Precio del producto" value='<%= productoAEditar.price  %>'>
            <select name="color_id" id="" required>
                <option value="" disabled selected>- Seleccione el color - </option>
                <% allColor.forEach(color => { %>
                <option value="<%= color.id %>"><%= color.name %></option>
                <% }); %>
            </select>
            <input type="text" name="accesorios" placeholder="Accesorios del producto" value='<%= productoAEditar.accessory  %>'>
            <select name="brand_id" id="" required>
                <option value="" disabled selected>- Seleccione la marca - </option>
                <% allBrand.forEach(brand => { %>
                <option value="<%= brand.id %>"><%= brand.name %></option>
                <% }); %>
            </select>
            <input type="text" name="modelo" placeholder="Modelo del producto" value='<%= productoAEditar.model  %>'>
          
            <br>

            <h3>Subi una foto de tu producto</h3>
            <input type="file" id="image" name="image">
            <br>


            <div class="category">
                <label for="category" class="form-label-1">Categoría</label>
                <select name="category_id" id="" required>
                    <option value="" disabled selected>- Seleccione una Categoria - </option>
                    <% allCategory.forEach(category => { %>
                    <option value="<%= category.id %>"><%= category.name %></option>
                    <% }); %>
                </select>
            </div>
            <div class="category">
                <label for="description" class="form-label-2">Descipción</label>
                <textarea name="description" id="description" class="form-input"><%= productoAEditar.description %></textarea>
            </div>
            <div>
                <button class="botonGuardar" type="submit" value="Guardar">Guardar producto</button>
                
            </div>
        </form>
    </div>
    </main>



      <!-- footer -->
      <%-include ('../partials/footer.ejs') %> 
    <!-- footer -->

    
       

</body>
</html>