<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include ('../partials/head') %>

        <link rel="stylesheet" href="/css/profile.css">

    
     
      </head>
 
<body>
    <%-include ('../partials/header') %>

       <main>   
        <div class="perfil">
        
        <div class="card">
          <div class="user"><h1 class="userName" style="text-align:center"> <%= user.user%> </h1></div>
          <img src="/img/users/<%= user.avatar%>"  style="width:100%">
          <h3>Nombre y Apellido</h3>
          <p class="title"><%= user.name%> <%= user.lastName%></p>
          
          <h3>Email</h3>
          <p class="title"><%= user.email%></p>
          
          <h3>Dirección</h3>
          <p class="title"><%= user.addres%></p>
          
          <h3>Fecha de nacimiento</h3>
          <p class="title"><%= user.birth_date%></p>
         
         

        <a href="/usuario/editar/<%= user.id %>" class="editar">Editar</a>

        <form action="/usuario/salir" method="get">
          <p><button id="close">Cerrar sesión</button></p>
        </form>

        <p><button id="delet" onclick="document.getElementById('id01').style.display='block'">Eliminar</button></p>
        <div id="id01" class="modal">
          <form class="modal-content" action="/usuario/desactivar/<%= user.id %>?_method=DELETE" method="POST">
            <div class="container">
              <h1>Eliminar cuenta</h1>
              <p>Estas seguro de eliminar tu cuenta?</p>
            
              <div class="clearfix">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancelar</button>
                <button type="submit" class="deletebtn" >Eliminar</button>
              </div>
            </div>
          </form>
        </div>
       
        
      </form>


        </div>
    </div>
  </main> 
        

    <script src="/js/delet.js"></script>

      <!-- footer -->
<%-include ('../partials/footer') %> 
<!-- footer -->
      
   </body>
   </html>