<!DOCTYPE html>
<html lang="en">
<head>
  <%-include ('partials/head') %>
  <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>

    <!--Header - menu-->
    <%-include ('partials/header') %>
    
    <main class="main">
<!--Portada-->

<div class="container-all" id="move-content">
  <div class="container-cover">
    <div class="container-info-cover">
        <h1>¡Todo para tu cocina!</h1>
        <p>En FullHouse tenemos todo para tu cocina!</p>
    </div>
</div>

<h2>Mira Nuestras Ofertas Destacadas!</h2>
<div class="content-all">
    <div class="content-carrousel">
        <figure><img src="img/HELADERA.jpg"></figure>
        <figure><img src="img/MICROONDAS1.webp"></figure>
        <figure><img src="img/COCINA.png"></figure>
        <figure><img src="img/FREEZER.png"></figure>
     
    </div>
</div>
<br>
<br>

<img class="banner" src="img/15949632928586098418.jpg" alt="baneer">


<h2 class="texto-oferta">Pequeños Electros!</h2>
<br>
<br>
<% products.forEach(producto => { %>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="img/products/<%= producto.image%>" alt="<%= producto.name%>" style="width:100%">
      <div class="containerProduct">
        <h3><%= producto.marca%></h3>
        <p class="title"><%= producto.name%></p>
         <h2 class="price">$ <%= toThousand(producto.price) %></h2>
        <a href="/producto/detalle/<%= producto.id %>"><p><button class="button">Detalle</button></p></a>
      </div>
    </div>
  </div>

  <% }) %>
      
    </main>

    
        <!-- footer -->
      <%-include ('partials/footer') %> 
    <!-- footer -->
   

    
    
    
    
</body>
</html>
