<!DOCTYPE html>
<html lang="en">
<head>
  <%-include ('partials/head') %>
  <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>

    <!--Header - menu-->
    <%-include ('partials/header') %>
    
    <main class="main">
<!--Portada-->
<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <img class="imgSlides" src="img/Web-1440x350-Nespresso.jpg">
  </div>

  <div class="mySlides fade">
    <img class="imgSlides" src="img/grafica-06.jpg" >
    
  </div>

  <div class="mySlides fade">
    <img class="imgSlides" src="img/BANNER-WEB-ENERO-DOMEC.jpg" >
  </div>

 
</div>
<br>
<h2 class="texto-oferta">Grandes Electros!</h2>
<br>
<br>
<% products.forEach(producto => { %>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="img/products/<%= producto.image%>" alt="<%= producto.name%>" style="width:100%">
      <div class="containerProduct">
        <h3><%= producto.marca%></h3>
        <p class="title"><%= producto.name%></p>
         <h2 class="price">$ <%= toThousand(producto.price) %></h2>
        <a href="/producto/detalle/<%= producto.id %>"><p><button class="button"><h4 id="detalle">Detalle</h4></button></p></a>
      </div>
    </div>
  </div>

  <% }) %>
  <br>

<img class="banner" src="img/15949632928586098418.jpg" alt="baneer">

<h2 class="texto-oferta">Pequeños Electros!</h2>
<br>
<br>
<% products.forEach(producto => { %>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="img/products/<%= producto.image%>" alt="<%= producto.name%>" style="width:100%">
      <div class="containerProduct">
        <h3><%= producto.marca%></h3>
        <p class="title"><%= producto.name%></p>
         <h2 class="price">$ <%= toThousand(producto.price) %></h2>
        <a href="/producto/detalle/<%= producto.id %>"><p><button class="button"><h4 id="detalle">Detalle</h4></button></p></a>
      </div>
    </div>
  </div>

  <% }) %>
      
    </main>

    
        <!-- footer -->
      <%-include ('partials/footer') %> 
    <!-- footer -->
   

    
    
    <script src="js/slideshow.js"></script>
    
</body>
</html>
